.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
    align-items: center;
    color: white;
    background-color: black;
    padding-top: 20%;
}

.header{
    display: flex;
    flex-direction: row;
    gap: 20%;
    height: 20%;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
    position: fixed;
    background-color: black;
    border-bottom: 3px solid aliceblue;
    top: 0;
}

.header h1{
    font-size: 56px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.custom-link,
.custom-link:visited {
    color: inherit;      /* Use the parent's text color */
    text-decoration: none;  /* Remove the underline */
}

.custom-link:hover,
.custom-link:focus,
.custom-link:active {
    color: inherit;      /* Optional: Ensure the color remains the same on hover, focus, and active */
    text-decoration: none;  /* Optional: Ensure the underline is removed on hover, focus, and active */
}

p{
    font-size: 24px;
}